//максимальные значения ширины экрана
$content-maxw: 958px;
$header-maxw: 1027px;
$content-maxw-mobv: 658px;
$header-maxw-mobv: 827px;

//цвета текста
$fc-black:#000;
$fc-red: #ec5863;
$fc-white: #fcfdfe;
$fc_grey:#616161;
$fc-blue:#4285f4;
$fc-light-grey:#b0b0b0;

//цвета фона
$bgc-blue:#4285f4;
$bgc-red: #ec5863;
$bgc-white: #fcfdfe;
$bgc-black:#000;
$bgc-light-grey:#fafbfd;
